@model IEnumerable<HelpDesk.Models.TipoIncidencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimientos De Indencias</h2>

<p>
    @Html.ActionLink("Crear Nueva Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripción
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
        </th>
        <th>
            Descripción
            @*@Html.DisplayNameFor(model => model.Estatu.Descripcion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatu.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id=item.TipoIncidenciaID })
        </td>
    </tr>
}

</table>
@model IEnumerable<HelpDesk.Models.TipoIncidencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatu.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatu.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoIncidenciaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoIncidenciaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoIncidenciaID })
        </td>
    </tr>
}

</table>
