@model HelpDesk.Models.Persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de que quieres Eliminar esto?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatu.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatu.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver Atrás", "Index")
        </div>
    }
</div>
