@model IEnumerable<HelpDesk.Models.SolictudIncidencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de Incidencias</h2>

<p>
    @Html.ActionLink("Crear Nueva Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Comentarios
           @* @Html.DisplayNameFor(model => model.ComentariosSolicitud)*@
        </th>
        <th>
            Departamento
            @*@Html.DisplayNameFor(model => model.Departamento.Descripcion)*@
        </th>
        <th>
            Estatus
            @*@Html.DisplayNameFor(model => model.Estatu.Descripcion)*@
        </th>
        <th>
            Estatus de Solicitud
           @* @Html.DisplayNameFor(model => model.EstatusSolicitud.Descripcion)*@
        </th>
        <th>
           Código del Solicitante
            @*@Html.DisplayNameFor(model => model.Persona.Codigo)*@
        </th>
        <th>
            Codigo del Soporte Asignado
           @* @Html.DisplayNameFor(model => model.Persona1.Codigo)*@
        </th>
        <th>
            Tipo de Incidencia
           @* @Html.DisplayNameFor(model => model.TipoIncidencia.Descripcion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComentariosSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatu.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstatusSolicitud.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona1.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoIncidencia.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
