@model IEnumerable<HelpDesk.Models.SolictudIncidencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MANTENIMINETO DE INCIDENCIAS</h2>

<p>
    @Html.ActionLink("Crear Nueva Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo Incidencia
            @* @Html.DisplayNameFor(model => model.FechaIncidencia)*@
        </th>
        @*<th>
          Detalles
           @* @Html.DisplayNameFor(model => model.ComentariosSolicitud)*@
     
        <th>
          Solicitante
           @* @Html.DisplayNameFor(model => model.Departamento.Descripcion)*@
        </th>
     
        <th>
           Departamento Solicitud
         @*   @Html.DisplayNameFor(model => model.EstatusSolicitud.Descripcion)*@
        </th>
        <th>
            Estatus Solicitud
            @* @Html.DisplayNameFor(model => model.Persona.Codigo)*@
        </th>
        <th>
            Asignado
            @*@Html.DisplayNameFor(model => model.Persona1.Codigo)*@
        </th>
        <th>
           
            Fecha Solicitud
            @*@Html.DisplayNameFor(model => model.TipoIncidencia.Descripcion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoIncidencia.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombres)     @Html.DisplayFor(modelItem => item.Persona.Apellidos)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.ComentariosSolicitud)
        </td>*@


        <td>
            @Html.DisplayFor(modelItem => item.EstatusSolicitud.Descripcion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Persona1.Nombres) @Html.DisplayFor(modelItem => item.Persona1.Apellidos)
        </td>
        <td>
    @Html.DisplayFor(modelItem => item.FechaIncidencia)
</td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.SolicitudIncidenciaID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.SolicitudIncidenciaID }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.SolicitudIncidenciaID })
        </td>
    </tr>
}

</table>
