@model IEnumerable<HelpDesk.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimineto de Usuarios</h2>

<p>
    @Html.ActionLink("Create Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Usuario
            @*@Html.DisplayNameFor(model => model.Usuario1)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
           Fecha del último Acceso
            @*@Html.DisplayNameFor(model => model.FechaUltimoAcceso)*@
        </th>
        <th>
           Descripción
            @*@Html.DisplayNameFor(model => model.Estatu.Descripcion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimoAcceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatu.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UsuarioID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.UsuarioID })
        </td>
    </tr>
}

</table>
